<div>
    <div style="width: 100%; padding-left: 200px;padding-right:240px;margin-bottom: 130px; " fxLayout="column">

        <div style="margin-bottom: 40px;">
            <span style="color:gray; cursor: pointer;" routerLink="/dashbord/getAllBook">Home/</span><span>
                Cart({{cartArray?.length}})
            </span>
        </div>
        <mat-card style="max-width: 1000px;">
            <div style="margin-left:30px;margin-right:30px;margin-top: 10px;">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <span style="font-size: 25px;">Mat cart</span>
                    </div>
                    <div>
                        <span style="font-size: 25px;">Bridelab solution private ltd</span>
                    </div>
                </div>
                <div fxLayout="row" style="margin-top: 30px;padding-bottom: 40px;border-bottom: 2px solid gray;"
                    *ngFor="let cart of cartArray">
                    <div><img style="width:100px;" [src]="cart.updateBookModel.bookImage" alt=""></div>
                    <div style="margin-left: 40px;margin-top: -10px;">
                        <h2 class="title">{{cart.updateBookModel.bookName}}</h2>
                        <p id="para">by {{cart.updateBookModel.authorName}} </p>


                        <div class="price-container" fxLayout="row">

                            <div class="dicounted-price">
                                Rs.{{cart.updateBookModel.discountPrice * cart.bookQuantity}}
                            </div>
                            <div class="actual-price">
                                Rs.{{cart.updateBookModel.actualPrice * cart.bookQuantity}}
                            </div>
                        </div>
                        <div class="wrapper" fxLayout="row" fxLayoutAlign="start center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button class="plusminus"
                                    (click)="updateToLess(cart.cartId,cart.bookQuantity,cart.bookId)"><img class="img5"
                                        src="./../../../assets/do_not_disturb_on_FILL0_wght400_GRAD0_opsz48.png"
                                        alt=""></button>
                                <input class="num" [value]=" cart.bookQuantity" />
                                <button class="plusminus"
                                    (click)="updateToAdd(cart.cartId,cart.bookQuantity,cart.bookId)"><img class="img5"
                                        src="./../../../assets/add_circle_FILL0_wght400_GRAD0_opsz48.png"
                                        alt=""></button>
                            </div>
                            <div>
                                <button class="remove" (click)="removecart(cart.cartId)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayoutAlign="end" style="margin-top:40px">
                    <button class="place" *ngIf="!show" (click)="hideAndShow()">PLACE ORDER</button>
                </div>
            </div>
        </mat-card>


        <mat-card style="width: 1000px;margin-top: 30px;">
            <div *ngIf="!show">
                <Address style="margin-top:15px">Address Details</Address>
            </div>
            <div style="margin: 20px;" *ngIf="show">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <h3 style="font-size: 18px;">Customer Details</h3>
                    </div>
                    <div><button style="height: 40px;width:200px;border: 1px solid #A03037;color:#A03037"
                            *ngIf="!addshow" (click)="addshowhide()">Add New Address </button></div>
                </div>
                <div>

                    <div fxLayout="row" fxLayoutGap="30px" style="margin-left: 25px;">
                        <div fxLayout="column">
                            <span>Full Name</span>
                            <textarea style="max-height: 50px;width: 300px;padding-left: 10px;line-height: 50px;">Shubham Thakare</textarea>
                        </div>
                        <div fxLayout="column">
                            <span>Mobile Number</span>
                            <textarea style="max-height: 50px;width: 300px;padding-left: 10px;line-height: 50px;">7028873490</textarea>
                        </div>
                    </div>
                    <div *ngIf="addshow">
                        <div style="margin-top: 20px;margin-left: 25px">
                            <div>
                                <h3 style="margin-bottom: -5px;">Address</h3>
                                <textarea [(ngModel)]="address"  name="" id="" style="width: 630px;height: 100px; "></textarea>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayoutGap="30px" style="margin-left: 25px;margin-top: 20px;">
                            <div fxLayout="column">
                                <span>city town</span>
                                <input [(ngModel)]="city" style="height: 45px;width: 300px;padding-left: 10px;">
                            </div>
                            <div fxLayout="column">
                                <span>State</span>
                                <input [(ngModel)]="state" style="height: 45px;width: 300px;padding-left: 10px;">
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="7px" style="margin-left: 25px;margin-top: 20px;">
                            <span class="type">Type</span>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="value" class="radio">
                                <mat-radio-button [(ngModel)]="value" class="home1" value="1">home</mat-radio-button>
                                <mat-radio-button [(ngModel)]="value" class="work" value="2">work</mat-radio-button>
                                <mat-radio-button [(ngModel)]="value" class="other" value="3">other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  fxLayoutAlign="end" style="margin-bottom: 20px;float:right;"><button (click)="addAddress()"
                                style="height: 40px;font-size: 16px; width:200px;background-color: blue;color: white;">Submit
                                Addrress</button></div>
                    </div>

                    <div style="margin-top: 20px;margin-left: 25px" *ngIf="!addshow">
                        <div *ngFor="let Address of addresstArray">

                            <div *ngIf="Address.typeId===1">
                                <input type="radio" [(ngModel)]="AddressId" [id]="Address.typeId" value="Address.typeId"
                                    style="margin-top: 20px;">
                                <span for="Address.typeId" style="font-size: 18px;">.Home </span>
                            </div>
                            <div *ngIf="Address.typeId===2">
                                <input type="radio" [(ngModel)]="AddressId" [id]="Address.typeId" value=".work"
                                    style="margin-top: 20px;">
                                <span for="Address.typeId" style="font-size: 18px;">.Work </span>
                            </div>
                            <div *ngIf="Address.typeId > 2">
                                <input type="radio" [(ngModel)]="AddressId" [id]="Address.typeId"
                                    [value]="Address.typeId" style="margin-top: 20px;">
                                <span for="Address.typeId" style="font-size: 18px;">.other </span>
                            </div>
                            <div fxLayout="column" style="margin-top: 10px;">
                                <span>Address</span>
                                <input style="width: 630px;height: 100px;padding-left: 10px;" [value]="Address.address">
                            </div>

                            <div fxLayout="row" fxLayoutGap="30px" style="margin-top: 20px;">
                                <div fxLayout="column">
                                    <span>city town</span>
                                    <input style="height: 45px;width: 300px;padding-left: 10px;" [value]="Address.city">
                                </div>
                                <div fxLayout="column">
                                    <span>State</span>
                                    <input style="height: 45px;width: 300px;padding-left: 10px;"
                                        [value]="Address.state">
                                </div>
                            </div>

                        </div>
                        <div fxLayoutAlign="end"><button *ngIf="!order" (click)="ordershow()"
                                style="height: 40px;font-size: 16px; width:200px;background-color: blue;color: white;">Continue</button>
                        </div>
                    </div>

                </div>

            </div>
        </mat-card>
        <mat-card style="width: 1000px;margin-top: 30px;">
            <div *ngIf="!order">
                <Address style="margin-top:15px">Order Summary</Address>
            </div>
            <div *ngIf="order">
                <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let cart of cartArray"
                    style="padding-bottom: 30px;margin-top:20px; border-bottom:1px solid gray">
                    <div>

                        <div fxLayout="row">
                            <div><img style="width:100px;" [src]="cart.updateBookModel.bookImage" alt=""></div>
                            <div style="margin-left: 40px;margin-top: 5px;">
                                <h2 class="title">{{cart.updateBookModel.bookName}}</h2>
                                <p id="para">by {{cart.updateBookModel.authorName}} </p>


                                <div class="price-container" fxLayout="row">

                                    <div class="dicounted-price">
                                        Rs:{{cart.updateBookModel.actualPrice}}
                                    </div>
                                    <div class="actual-price">
                                        Rs:{{cart.updateBookModel.discountPrice}}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div fxLayoutAlign="end"  ><button (click)="addToOrder(cart.bookId,cart.bookQuantity)"
                        style="height: 40px;margin-top:20px;font-size: 16px; width:200px;background-color: blue;color: white;" routerLink="/dashbord/orderSucceed">Checkout</button>
                </div>
                </div>
               
            </div>

        </mat-card>
    </div>
</div>