.dicounted-price {
    margin-top: 5px;
    font-weight: 420;
    font-size: 22px;
}

.actual-price {
    margin-top: 5px;
    margin-left: 13px;
    text-decoration: line-through;
    color: gray;
}
.wrapper{
    width: 160px;
    height: 40px;
    line-height: 40px;
   margin-left: -10px;
   margin-top: 20px;
}
.remove{
    border: none;background-color:white;margin-left: 10px;
    
}
.place{
    background-color:#3371B5;color: white;
    border-radius: 3px;
    width: 140px;
    height: 35px;
    margin-bottom: 20px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.num{
    width: 60px;
    height: 20px;
   
    text-align: center;
    
    outline:none;
}
.plusminus{
    border: none;
    background-color: white;
    height: 10px;
    margin-top: -5px;
    font-size: 20px;
}
.img5{
    width: 30px;
    height: 30px;
    margin-top: -32px;

}