<div class="MainContrainer" fxLayout="column" fxLayoutAlign="start end">
    <div class="navContainer" fxLayout="row">
        <img src="./../../../assets/navBook.png" alt="">
        <span style="color: White;font-size:large">BookStore</span>
    </div>

    <div  class="contain2" fxLayout="column" fxLayoutAlign="start center " fxFlex >
        <h2 style="padding-bottom: 30px;font-size: 22px;">Forget Your Password?</h2>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat" >
            <span style="margin-bottom: 15px;">Enter your Email Address and we will send you link to reset password</span>
            <div fxLayout="column" style="margin-bottom: 20px;">
                <span >EmailId</span>
                <input style="width:300px;height: 30px;border-radius:3px" [(ngModel)]="Email" type="text">
            </div>
            <div style="margin-bottom: 30px;">
                <button class="but1" (click)="onSubmit()" ><strong>Reset Password</strong> </button>
            </div>
            <button class="bottum" style="width: 400px;height:80px;font-size:18px;margin-bottom: -50px;font-weight: bold;" routerLink="/singUp">Create Account</button>


        </mat-card>
    </div>

</div>