<div class="MainContrainer" fxLayout="column" fxLayoutAlign="start end">
    <div class="navContainer" fxLayout="row">
        <img src="./../../../assets/navBook.png" alt="">
        <span style="color: White;font-size:large">BookStore</span>
    </div>

    <div  class="contain2" fxLayout="column" fxLayoutAlign="start center " fxFlex >
        <h2 style="padding-bottom: 30px;font-size: 23px;">Reset Your Password</h2>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat" >
            <span style="margin-bottom: 15px;font-size: 16px;"> <strong>Enter highly secuired password</strong> </span>
            <div fxLayout="column" style="margin-bottom: 20px;">
                <span >New Password</span>
                <input [(ngModel)]="password" style="width:300px;height: 30px;border-radius:3px" type="text">
            </div>
            <div fxLayout="column" style="margin-bottom: 20px;">
                <span >Confirm Password</span>
                <input [(ngModel)]="confirmPassword" style="width:300px;height: 30px;border-radius:3px" type="text">
            </div>
            <div style="margin-top: 10px; ">
                <button class="but1" (click)=" onsubmit()"><strong>Done</strong> </button>
            </div>
            

        </mat-card>
    </div>



</div>
