<div style="width: 100%; padding-left: 200px;padding-right:210px;margin-bottom: 200px; " fxLayout="column">
    <div fxLayout="column">

        <div>
            <span style="color:gray; cursor: pointer;" routerLink="/dashbord/getAllBook">Home/</span><span>
                Books({{BookId}})
            </span>
        </div>
        <div style="margin-top: 50px;" fxLayout="row ">
            <div fxLayout="row " fxLayoutAlign="center start">
                <div class="bookimg2" fxLayout="row " fxLayoutAlign="center center">
                    <img class="img2" [src]="booksArray.bookImage" alt="book img">
                </div>
                <div>
                    <div class="bookimg1" fxLayout="row " fxLayoutAlign="center center">
                        <img class="img1" [src]="booksArray.bookImage" alt="book img">

                    </div>
                    <div fxLayout="row " fxLayoutAlign="space-between" style="margin-top: 30px;">
                        <button class="butt" fxLayout="row " fxLayoutAlign="center center" *ngIf="!show"
                            (click)=" hideAndShow()">ADD TO BAG</button>
                        <mat-card class="wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="show">
                            <button class="plusminus"><img class="img5" src="./../../../assets/do_not_disturb_on_FILL0_wght400_GRAD0_opsz48.png"
                                    alt=""></button>
                            <input class="num" [(ngModel)]="bookQuantity" />
                            <button class="plusminus"><img class="img5"
                                    src="./../../../assets/add_circle_FILL0_wght400_GRAD0_opsz48.png" alt=""
                                    (click)=" addToBag()"></button>

                        </mat-card>
                        <button class="butt1" fxLayout="row " fxLayoutAlign="center center">
                            <mat-icon id="fav-icons">favorite</mat-icon>
                            WHISH LIST
                        </button>
                    </div>

                </div>
            </div>
            <div style="margin-left: 40px; ">
                <div fxLayout="column">
                    <div fxLayout="column">
                        <div>
                            <h2 class="title">{{booksArray.bookName}}</h2>
                        </div>
                        <div>
                            <p id="para">by {{booksArray.authorName}}</p>
                        </div>

                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                            <div class="rating" fxLayout="row" fxLayoutAlign="center center">{{booksArray.rating}}<img
                                    class="Star" src="./../../../assets/430117_star_icon.png" alt=""></div>
                            <div>
                                <p id="count">({{booksArray.ratingCount}})</p>
                            </div>

                        </div>

                        <div class="price-container" fxLayout="row" fxLayoutGap="20px">

                            <div class="dicounted-price">
                                Rs.{{booksArray.discountPrice}}
                            </div>
                            <div class="actual-price">
                                Rs.{{booksArray.actualPrice}}
                            </div>
                        </div>

                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <div style="margin-top: 30px;width: 800px;">
                        <li style="font-size: 18px;font-weight: bold;">Book Detail</li>
                        <ul style="margin-left: -15px; word-spacing:5px">{{booksArray.description}}</ul>
                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <mat-card style="margin-top: 30px;">
                        <span style="font-size: 20px;">Customer Feedback</span>
                        <mat-card
                            style="padding:20px;margin-top: 20px; background-color:rgb(242, 242, 255);height: auto;border-radius: 5px;">
                            <span>Overall rating</span>
                            <div>
                                <div class="rate">

                                    <input type="radio" id="star5" name="rate" [(ngModel)]="rating" value="5" />
                                    <label for="star5" title="Extremely Good"></label>
                                    <input type="radio" id="star4" name="rate" [(ngModel)]="rating" value="4" />
                                    <label for="star4" title="Very Good"></label>
                                    <input type="radio" id="star3" name="rate" [(ngModel)]="rating" value="3" />
                                    <label for="star3" title="Good"></label>
                                    <input type="radio" id="star2" name="rate" [(ngModel)]="rating" value="2" />
                                    <label for="star2" title="Not Bad"></label>
                                    <input type="radio" id="star1" name="rate" [(ngModel)]="rating" value="1" />
                                    <label for="star1" title="Bad"></label>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <input style="width:100%;height:40px;border-radius: 5px;" placeholder="Enter you view"
                                    [(ngModel)]="comment">
                            </div>

                            <div fxLayoutAlign="end center">
                                <button (click)="addFeedback()"
                                    style="width:80px;border-radius: 5px;height: 30px;background-color: rgb(105, 105, 201);">Submit</button>
                            </div>
                        </mat-card>
                    </mat-card>
                    <mat-card style="margin-top: 40px; border: none;" fxLayout="column">
                        <div fxLayoutGap="20px" *ngFor="let feedback of booksArr" style="margin-left: 20px;">
                            <div>
                                <span class="user-feedback"> {{(feedback?.fullName)}}</span>
                            </div>
                            <!-- <div class="rate">

                                <input type="radio" value=readonly id="star5" name="rate" value="{{feedback.rating}}" value="5" />
                                <label for="star5"  title="Extremely Good"></label>
                                <input type="radio" value=readonly id="star4" name="rate" value="{{feedback.rating}}"  value="4" />
                                <label for="star4"  title="Very Good"></label>
                                <input type="radio"value=readonly id="star3" name="rate" value="{{feedback.rating}}" value="3" />
                                <label for="star3"  title="Good"></label>
                                <input type="radio" value=readonly id="star2" name="rate" value="{{feedback.rating}}" value="2" />
                                <label for="star2" title="Not Bad"></label>
                                <input type="radio" value=readonly id="star1" name="rate" value="{{feedback.rating}}" value="1" />
                                <label for="star1" title="Bad"></label>
                            </div> -->

                            <div style="font-size: 28px;color: orange;padding-top: 10px;">

                                <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true"></ngb-rating>


                            </div>
                            <div style="padding-top: 10px">
                                <span class="user-comment"> {{feedback?.comment}}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>