.img2{
    width: 50px;
    height: 60px;
}
.bookimg2{
    width: 60px;
    height: 70px;
    border: 2px solid brown;
}
.bookimg1
{
    width: 400px;
    height: 480px;
    border: 2px solid rgb(223, 214, 214);
}
.img1{
    width: 320px;
    height: 420px;
}
.checked {
    color: orange;
  }
.butt{
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: brown;
    color: aliceblue;
    font-size: 15px;
    border-radius: 3px;
}
.butt1{
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
    border-radius: 3px;
    
}
#fav-icons{
    
    color: aliceblue;
    margin-right:5px 
}
.title {
    font-size: 30px;
    margin-left: 13px;
}

#para {
   
    font-size: 15px;
    color: gray;
    margin-left: 14px;
}
#count {
   
     margin-top: 10px;
     font-size: small;
     color: rgb(138, 132, 132);
 }

.rating {
    font-size: 12px;
    
    margin-left: 15px;
    background: green;
    color: white;
    height: 15px;
    width: 50px;
    padding: 2px;
    line-height: 15px;
}
.Star {
    height: 11px;
    width: 11px;
    font-size: 10px;
    
    
    margin-left: 2px;
    background-color: aliceblue;
}
.dicounted-price {
    font-size: 30px;
    margin-left: 13px;
  
}

.actual-price {
    font-size: 20px;
    margin-left: 13px;
    text-decoration: line-through;
    color: gray;
}
.price-container{
    margin-top: 25px;
}

.rating {
    background: rgba(0, 100, 0, 0.87);
    height: 20px;
    width: 46px;
    color: white;
    margin-bottom: 10px;
    margin-top: 3%;
  
    text-align: -webkit-center;
}
#count{
    margin-top: 30px;
}
.rate{
    width: 110px;
}
.rate:not(:checked)>label {
    float: right;
    width: 1em;
    margin-bottom: 14px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 22px;
    color: #ccc;
}
.rate:not(:checked)>label::after {
    content: '★ ';
    font-size: 28px;
    animation-direction: alternate;
}
.rate>input:checked~label {
    color: #ffc700;
}
.rate:not(:checked)>input {
    display: none;
}

.user-comment{
 font-size: 16px;
}
.user-feedback{
    font-size: 16px;
}

.feedback-box {
    margin: 5px;
    border: 1px solid;
    background: white;
}
.plusminus{
    border: none;
    background-color: white;
    height: 10px;
    
    font-size: 20px;
}
.img5{
    width: 30px;
    height: 30px;
    margin-top: -32px;

}
.wrapper{
    width: 160px;
    height: 40px;
    line-height: 40px;
}
.num{
    width: 60px;
    height: 20px;
    
    text-align: center;
    
    outline:none;
}

